<div fxLayout = "row" fxLayout.xs = "column" fxLayoutAlign="start center" fxLayoutGap = "15px" class="home-page" >
    <md-card fxLayout = "column" fxFlex = "20%" [routerLink]="['/dashboard1']" fxLayoutAlign="center center" class="dash">
      <img src="https://ak7.picdn.net/shutterstock/videos/14790427/thumb/10.jpg" />
      <h4> Dashboard 1</h4>
    </md-card>
    <md-card class="dash" fxLayout = "column" fxFlex = "20%" fxLayoutAlign="center center">
        <img src="https://ak7.picdn.net/shutterstock/videos/14790427/thumb/10.jpg"/>
        <h4> Dashboard 2</h4>
    </md-card>
    <md-card class="dash" fxFlex = "20%" fxLayout = "column"  fxLayoutAlign="center center">
        <img src="https://ak7.picdn.net/shutterstock/videos/14790427/thumb/10.jpg"/>
      <h4> Dashboard 3</h4>
    </md-card>
</div>